<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.frederikkragh.aproposmagazinev2</string>
	<key>CFBundleName</key>
	<string>Apropos Magazine</string>
	<key>CFBundleDisplayName</key>
	<string>Apropos Magazine</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.817066738308-q8pdk1q5b9t9ugopjh67i2n2lau9k3sm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>BUNDLE_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.frederikkragh.aproposmagazinev2</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>Denne app bruger notifikationer til at informere dig om nye artikler og opdateringer fra Apropos Magazine.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Denne app bruger ikke mikrofon, men iOS kræver denne tilladelse for lydfunktioner.</string>
	<key>NSCameraUsageDescription</key>
	<string>Denne app bruger ikke kamera, men iOS kræver denne tilladelse for mediefunktioner.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Bold.ttf</string>
		<string>SFProText-Heavy.ttf</string>
		<string>FontsFree-Net-SFProDisplay-Regular.ttf</string>
		<string>SFProText-Light.ttf</string>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Semibold.ttf</string>
	</array>
</dict>
</plist>
